# Database
MONGO_URI="mongodb+srv://joshiayush78_db_user:DoBOAKFdmglVmdIl@cluster0.2si5bpv.mongodb.net/atlas"

# Server
PORT=8000
NODE_ENV=development


# Frontend URL
FRONTEND_URL=http://localhost:5173

# File Upload
MAX_FILE_SIZE=5242880
ALLOWED_IMAGE_TYPES=image/jpeg,image/png,image/gif,image/webp
ALLOWED_VIDEO_TYPES=video/mp4,video/webm
